<mat-card>
  <mat-tab-group *ngIf="user.User_id != 0; else other_content">
    <mat-tab label="User"> 
      <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        <td>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>User ID</mat-label>
          <input matInput disabled value={{user.User_id}}>
        </mat-form-field>
      </td>
  
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input formControlName="name" matInput required [(ngModel)]="user.Name">
        </mat-form-field>
      </td>
  
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" [class.is-invalid]="userForm.get('email').invalid && userForm.get('email').touched"  formControlName="email" matInput required [(ngModel)]="user.User_email">
        </mat-form-field>
        <div *ngIf="(userForm.get('email').invalid && userForm.get('email').touched) || userForm.get('email').dirty">
          <small *ngIf="userForm.get('email').errors?.required" class="text-warning">Email is Required</small>
          <small *ngIf="userForm.get('email').errors?.pattern" class="text-warning">Please enter a valid Email</small>
        </div>
      </td>
  
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput required>
        </mat-form-field>
      </td>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
      </form>
      <form class="form2"  (submit)="logout()">
        <button mat-raised-button type="submit">Logout</button>
     </form>
    </mat-tab>
    <mat-tab label="Friend"> 
      <ng-template mat-tab-label>
        <span (click)="getFriendsId(user.User_id)">
          Friend
        </span>
      </ng-template>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
      <!-- <div class="create-post">
          <div class="row">
              <div class="col-md-8">
                  <div class="row">
                </div>
            </div>
        </div>
      </div> -->
      
      <mat-card class="example-card" *ngFor="let friendsId of friendsIds">
          <mat-card-content>
            <div><mat-icon (click)="openDialog(friendsId)" class="delete-card">delete_forever</mat-icon></div>
            <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <app-friend-details [friendId]="friendsId"></app-friend-details>
  
              </div>
            </div>
          </mat-card-content>
      </mat-card>
  </div>
  <form class="form2"  (submit)="logout()">
  </form>
  <form class="form2"  (submit)="logout()">
    <button mat-raised-button type="submit">Logout</button>
  </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>



<ng-template #other_content>Please Login to view</ng-template>
