<!-- <div *ngFor="let tempGame of games">
    <a routerLink="/game/{{tempGame.Game_id}}">
        <img src="{{tempGame.ImageUrl}}"/>
    </a>
    {{tempGame.Title}}: {{tempGame.Release_date}} + {{tempGame.Price | currency: 'USD'}}
</div> -->

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!--loop over the collection of products-->
                <div *ngFor="let p of games" class="col-md-3">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a routerLink="/game/{{p.Game_id}}">
                                <img src="{{p.ImageUrl}}" class="img-responsive">
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a routerLink="/game/{{p.Game_id}}">
                                        {{p.Title}}
                                    </a>
                                    <!-- Product price-->
                                    <div class="price">
                                        {{p.Price | currency:'USD'}}
                                    </div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button (click)="addToCart(p)" class="btn btn-primary btn-small">Add to Cart</button>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <!--如果product 是空的，那么就显示一个空页面-->
                    <!-- <div *ngIf="products?.length<=0" class="alert alert-warning col-md-12" role="alert">
                        No matching products could be found.
                    </div> -->
                </div>
            </div>

            <!-- <div *ngIf="products.length <= 0" class="alert alert-warning col-md-12" role="alert">
                No Such Product.
            </div> -->

            <!--切换页面组件-->
            <!-- <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                            
                            <ngb-pagination [(page)]="thePageNumber"
                                            [pageSize]="thePageSize"
                                            [collectionSize]="theTotalElements"
                                            [maxSize]="5"
                                            [boundaryLinks]="true"
                                            (pageChange)="listProducts()">

                            </ngb-pagination>

                            </div>

                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size </span>

                                <select (change)="updatePageSize($event)">
                                    <option>2</option>
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>